################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/OnlineCas/v17
/.vs/OnlineCas/FileContentIndex
/.vs/slnx.sqlite
